._footer{
  background-color: black;
  color: white;
  height: 50px;
  text-align: center;
  line-height: 3;
  border-radius: 10px;
  margin: 0 2% 0 2%;
}

.login_page{
  margin: 5%;
  top: 25vh;

}
.dashbody_css{
  margin-top: 8%;
}

.dashbody_css h1{
  margin-left: 3rem;
}
