.boxes {
  height: 200px;
  width: 250px;
  margin: 10px;
}
.boxes,
.h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dash_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 120px 180px 120px 180px;
}

.footer {
  background-color: black;
  height: 50px;
  width: 60%;
  /* align-items: center; */
  margin-left: 20%;
  border-radius: 10px;
  line-height: 3;
}
.footer p {
  color: white;
  text-align: center;
  justify-content: center;
}
