.boxes{
  height: 200px;
  width: 250px;
  margin: 10px;
}
.boxes , .h1 {
 
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dash_box{
  
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin: 120px 180px 120px 180px;
}