/* .text-center{
  color: black;
} */

/* .media-container{
  width: 40% !important;
} */

/* @media(max-width: 1024px){
  .media-container{
    width: 100% !important;
  }
  .text-center{
    color: black;
  }
} */