

.custom-card {
    background: linear-gradient(to bottom, #6d78ff, #00d2ff);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.custom-card:hover {
    transform: translateY(-5px);
}