
#Item1{
    display: flex;
    border: 2px solid black;
    font-size: 20px;
    justify-content: space-between;
    /* padding-left: 10px; */
    width: 600px;
    height: 100px;
    background-color: aquamarine;
   
}
.product{
    /* padding-left: 5%; */
    border-right: 2px solid blue;
    width: 200px;
    justify-items: center;
}
.company{
    /* padding-left: 20%; */
    border-right: 2px solid red;
    width: 200px;
    align-items: center;
}
.price{
    color: red;
    width: 200px;
    align-items: center;
    /* padding-left: 30%; */
}
