.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.arun{
  display: flex;
  justify-content: space-around;
  border: 2px solid #282c34;
  
}

#img2{
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items:center ;

  
}

#image{
  padding: 10px;
  margin: 50px;
}
