#table{
    border: 2px solid black;
    padding: 0px;
    margin: 0px;
    width: 25%;
}
.text{
    display: inline;
    margin: 0;
    font-size: 30px;
    border: 1px solid black;
    padding-left: 40px;

    
}
