body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg,rgba(60, 49, 49, 0.566),rgba(207, 86, 86, 0.768));
}
.main{
    overflow: hidden;
    border:1px solid black;
}
.imageco{
    position: relative;
    width: 75vw;
    height: 0vh;
    padding: 0%;
}
.imageco img{
    position: absolute;
    width: 100%;
    height: 50vh;
}
.footer{
    margin-top: 50vh;
    display: flex;
}
.feature{
    position: relative;
    top: 50%;
    border: 1px solid black;
    height: 50vh;
    width: 38vw;
}
.specification{
    border: 1px solid black;
    height: 50vh;
    width: 37vw;
}
