h1 {
    color: black;
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 1px red;
}

.inputs {
    width: 400px !important;
}

.form {
    margin-left: 400px ;
    margin-top: 40px;
}

.btn {
    margin-top: 9px;
}