.form_container{
    width: 30%;
}
.grav_col{
    background-color: rgba(117, 66, 66, 0.834);
}

.txt_col{
    color: rgba(117, 66, 66, 0.834);
    text-decoration: none;
}

.txt2_col{
    color: white;
    border-color: white;
}

@media screen and (max-width: 1000px) {
    .form_container{
        width: 45%;
    }
}

@media screen and (max-width: 700px) {
    .form_container{
        width: 65%;
    }
}