.login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
}

.child{
    position: absolute;
    /* top: 50%;
    left: 50%; */
    width: 30%;
    height: 40%;
    background-color: #F5F6FB;
    /* transform: translate(-50%,-50%); */
    padding: 10px;
    box-shadow: 0 0 10px;
    border-radius: 10px;
}

.child form{
    padding: 3rem;
}
.button{
    margin-top: 3rem;
}